@import "../../constants.scss";

.Advantages {
  margin-bottom: 70px;
  h3 {
    margin: 40px auto 20px;
    font-family: Lato;
  }

  span {
    color: $lightgray;
    margin-bottom: 10px;
    display: block;
  }

  ul {
    // background-color: green;
    padding: 0;
    li {
      //   background-color: red;
      color: $lightgray;
      font-family: Lato;
      margin-top: 10px;

      svg {
        padding: 0 10px;
      }
    }
  }
}
