@import "../../global.scss";

.Advantages {
  margin-bottom: 70px;

  @include small {
    padding: 0 30px;
  }

  h3 {
    margin: 40px auto 20px;
    font-family: Lato;
  }

  span {
    color: $lightgray;
    margin-bottom: 10px;
    display: block;
  }

  ul {
    padding: 0;

    li {
      color: $lightgray;
      font-family: Lato;
      margin-top: 10px;

      svg {
        padding: 0 10px;
      }
    }
  }
}
