@import "../../constants.scss";

.Reviews {
  margin: 30px 0;
  width: 80%;
  max-width: 1250px;
  //   background-color: red;
  display: flex;

  .left {
    flex: 1;
    // background-color: green;
    display: flex;
    flex-direction: column;
    padding: 70px 25px;

    .top {
      display: flex;
      flex: 1;
      margin-bottom: 30px;

      .empty {
        flex: 1;
      }

      .name {
        flex: 3;
      }

      .empty2 {
        flex: 6;
      }
    }

    .bottom {
      display: flex;
      flex: 2;
      .icon {
        flex: 1;
        font-size: 80px;
        color: $primary-color;
        text-align: center;
      }

      .review {
        flex: 9;
      }
    }
  }

  .right {
    flex: 1;
    height: 400px;
  }
}
